lias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias rm='rm -i'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias rrm='/bin/rm -rf'
alias rm='mv --target-directory ~/.trash'
alias mv='mv -i'
alias cp='cp -i'
