.fl{
    float: left;
}

.fr{
    float: right;
}

.side-bar {
  float: left;
  width: 20%;
  position: fixed;
}


.main {
  float: right;
  width: 80%;
  color: #454545;
}


.container {
    max-width: 80%;
    margin: 0 auto;
}
