#box1 {
    height: 100px;
    width: 300px;
    margin: 10px;
    background-color:rgba(200,0,0,0.3);
    float: left;
}

#box2 {
    height: 150px;
    width: 300px;
    margin: 10px;
    background-color:rgba(0,200,0,0.3);
    float: left;
}

#box3 {
    height: 200px;
    width: 300px;
    margin: 10px;
    background-color:rgba(0,0,200,0.3);
    float: left;
}

footer {
    height: 200px;
    width: 300px;
    margin: 10px;
    background-color:rgba(50,50,50,0.3);
    clear: right;
}
